*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    font-style: normal;
    line-height: normal;
    background-color: #fff;
    color: #303030;
}

header {
    height: 70px;
    background-color: #2965f1;
    padding: 23px 0;
    margin-bottom: 60px;
    /* Стили для хедера */
}

header span {
    font-weight: 700;
    font-size: 20px;
    color: #fff;
    /* Стили для текста в хедере IT-INCUBATOR */
}

.main-section {
    background-color: #fafaff;
    padding: 60px 0px;
    /* Стили для первой секции */
}

.main-title {
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 20px;
    /* Стили для заголовка в первой секции */
}

.main-text {
    font-weight: 400;
    font-size: 18px;
    
    /* Стили для текста в первой секции */
}

.main-image {
    max-width: 715px; ;
    height: 508px;
    /* Стили для изображения в первой секции */
}


.about-section {
    padding: 100px 0;
    background-color: #fff;
    height: 883px;
    /* Стили для второй секции */
}

select {
    width: 80px;
    height: 57px;
    font-weight: 400;
    font-size: 16px;
    border: 1px solid rgba(48, 48, 48, 0.3);
    border-radius: 5px;
    width: 150px;
    height: 36px;
    appearance: none;
    background-image: url("./assets/image/ep_arrow-down.svg");
    background-repeat: no-repeat;
    background-position: right 0 top 50%;
    /* Стили для выпадающего списка */
}

.section-title {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 25px;
    /* Стили для заголовков во второй секции */
}

.skills-list {
    list-style-image: url(./assets/image/solar_map-arrow-up-bold.svg) ;
    margin-left: 22px;
    color: #363940;
    font-weight: 400;
    font-size: 16px;
    padding: 0px 20px;
    /* Стили для маркированного списка во второй секции */
}

.books-list {
    list-style-type: decimal;
    list-style-position: outside;
    padding: 0px 20px;
    font-weight: 400;
    font-size: 16px;
    /* Стили для нумерованного списка во второй секции */
}

.label {
    font-weight: 400;
    font-size: 16px;
    height: 19px;
    /* Стили для подписей чекбоксов */
}

.text-field {
    border: 1px solid rgba(48, 48, 48, 0.3);
    border-radius: 5px;
    width: 330px;
    height: 36px;
    font-weight: 400;
    font-size: 16px;
    color: rgba(48, 48, 48, 0.2);
    /* Стили для односточного поля ввода текста */
}

.btn {
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    background-color: #2965f1;
    border-radius: 5px;
    width: 125px;
    height: 36px;
    border: none;
    /* Стили для кнопки */
}

.line {
    border: 1px solid rgba(48, 48, 48, 0.3);
    width: 1440px;
    height: 0px;
    margin-top: 60px;
    margin-bottom: 60px;
    /* Стили для линии */
}

table {
    border-collapse: collapse;
    margin-bottom: 100px;
    width: 300px;
    font-size: 14px;
    /* Стили для таблицы */
}

th, td {

    border: 1px solid #95a1bb;
    height: 40px;
    padding: 12px 15px;
    text-align: left;
    /* Стили для ячеек таблицы */
}

footer {
    background-color: rgba(163, 167, 255, 0.3);
    padding: 26px 0px;
    /* Стили для футера */
}

.footer-link {
    font-weight: 400;
    font-size: 14px;
    color: #2965f1;
    text-decoration: none;
    /* Стили для футера */
}
